.tab-content
  padding-top: 40
  .tab-pane
    .fixed-top
      top: 40px
.nav-tabs
  padding-left: 30px
  background-color: $white
  position: relative

  .help
    position: absolute
    top: 50%
    right: 10px
    margin-top: -12px
  .nav-item
    color: $text-grey
    height: 40px
    border-radius: 0
    font-weight: 500
    padding-left: 40px
    padding-right: 40px
    background-color: $bg-tab
    &.active
      color: $theme
      background-color: $white