.question-list
    padding: 20px
    background-color: white
    box-shadow: 0 2px 4px rgba(0,0,0,0.16)
    .btn-primary
        background-color: $btn-blue
    .btn-danger
        background-color: $btn-red
    .btn-black
        background-color: black
    .question-bar 
        display: flex
        justify-content: space-between
        border-bottom: 1px solid $border-question
        padding-bottom: 20px
        margin-bottom: 20px
    .ask-wrapper    
        height: 390px
        .ask-list
            list-style: none
            padding-left: 0
            margin-right: 12px
            li 
                border-bottom: 1px solid $border-question
                padding-bottom: 20px
                margin-bottom: 20px
                .user-ask
                    display: flex
                    justify-content: space-between
                .user-info
                    
                    .pict
                        border-radius: 700px
                        width: 28px
                        height: 28px
                        overflow: hidden
                        display: inline-block
                        vertical-align: middle
                        margin-right: 10px
                        img
                            max-width: 100%
                        .name
                            display: inline-block
                            vertical-align: middle
                            margin-right: 10px
                            a  
                                color: $theme
                        .user-act
                            display: inline-block
                            vertical-align: middle
                            font-weight: 600
                .date-status
                    p.answered
                        span
                            text-transform: uppercase
                            color: $green
                            margin-left: 10px
                            .material-icons
                                vertical-align: middle
                                font-size: 20px
                                margin-left: 5px
                .ask-text
                    border-radius: 5px
                    background-color: $bg-notes
                    padding: 15px
                    p
                        margin-bottom: 0
                .ask-footer
                    margin-top: 30px
                    display: flex
                    justify-content: space-between
                    p   
                        margin-bottom: 0
                        .btn 
                            margin-left: 15px
                            i 
                                display: inline-block
                                vertical-align: top
                                font-size: 18px
                                margin-right: 10px
                            



