<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c"> -->
		<title>Prelim Webcast</title>
		<link rel="stylesheet" type="text/css" href="dist/css/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<nav class="nav-menu">
          <div class="nav nav-tabs col4" id="nav-tab" role="tablist">
          	<div class="help"><a href="" data-toggle="modal" data-target=".ir-modal"><img src="./dist/images/help_outline-24px.png" alt=""></a></div>
            <a class="nav-item nav-link active" id="nav-home-tab" href="index.html">IR Manager</a>
            <a class="nav-item nav-link" id="nav-profile-tab" href="presentation.html">Presentation Manager</a>
          </div>
        </nav>
        <nav class="navbar fixed-top panel-control">
			<button class="btn panel-toggle text-primary"><i class="icon-arrow-down"></i></button>
			<div class="row">
				<div class="col-3">
					<div class="control-item bg-success text-white" id="broadcasting">
						<h3 class="control-title">Broadcasting Status:</h3>
						<div class="broadcasting-icon">
							<div class="microphone-circle">
								<i class="icon-microphone"></i>
								<!-- <img src="icons/microphone.svg" class="icon-microphone"> -->
							</div>
							<i class="icon-tower-transmissions"></i>
						</div>
						<div class="control-info">
							<h5>Moderators are now LIVE<strong>Broadcasting</strong></h5>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class="control-item bg-primary text-white" id="participant">
						<h3 class="control-title clearfix">Participant Count: <span class="float-right">28</span></h3>
						<table class="table">
							<tr>
								<th>Role</th>
								<th>Phone</th>
								<th>Web</th>
								<th>Unique</th>
							</tr>
							<tr>
								<td>Analyst</td>
								<td>10</td>
								<td>11</td>
								<td>11</td>
							</tr>
							<tr>
								<td>Media</td>
								<td>7</td>
								<td>7</td>
								<td>7</td>
							</tr>
							<tr>
								<td>Investor</td>
								<td>6</td>
								<td>8</td>
								<td>10</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-3">
					<div class="control-item bg-info text-white" id="current-slide">
						<h3 class="control-title clearfix">Current Slide: <span class="float-right">1 of 20</span></h3>
						<img src="./dist/images/slide-preview.png" alt="Slide 1 of 20" class="slide-preview">
					</div>
				</div>
				<div class="col-3">
					<div class="control-item bg-danger text-white" id="timer">
						<h3 class="control-title">Timer:</h3>
						<div class="timer-control clearfix">
							<div class="time">
								<span class="time-title">HOURS</span>
								<span class="hours" id="sw_h">00</span>
							</div>
							<div class="time">
								<span class="time-title">MINUTES</span>
								<span class="minutes" id="sw_m">00</span>
							</div>	
							<div class="time">
								<span class="time-title">SECONDS</span>
								<span class="seconds" id="sw_s">00</span>
							</div>	
						</div>
					</div>
				</div>
			</div>		
		</nav>
		<div class="content-area ir">
			<div class="column-content-group">
				<div class="content-group">
					<div class="content-header">
						<h3>Participant Queue:</h3>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-primary"></h5>
					<table class="table">
						<thead>
							<tr>
								<th class="col-name">Name</th>
								<th class="col-talk">Talk</th>
								<th class="col-company">Company <i class="icon-sortby"></i></th>
								<th class="col-role">Role <i class="icon-sortby"></i></th>
								<th class="col-entry">Entry Time <i class="icon-sortby"></i></th>
								<th class="col-exit">Exit Time <i class="icon-sortby"></i></th>
								<th class="col-channel">Channel</th>
								<th class="col-qa">Q&A</th>
								<th class="col-notes">Notes</th>
							</tr>
						</thead>
					</table>
					<div class="scrollable" data-simplebar data-simplebar-auto-hide="false">
						<table class="table">
							<tbody>
								{% for participant in participants %}
								<tr class="{% if (participant.exit == 'yes') %}is-exit{% endif %}{% if (participant.desktop == 'yes') %} on-desktop{% endif %}{% if (participant.talk == 'yes') %}is-talk{% endif %}{% if (participant.talk == 'muted') %}is-queued{% endif %}">
									<td class="col-name">
										<img src="./dist/images/{{ participant.image }}.jpg" class="participant-avatar">
										<span class="participant-name">{{ participant.name }}</span>
									</td>
									<td class="col-talk">
										{% if (participant.talk == 'yes') %}
										<button class="btn btn-talk btn-success">
											<i class="icon-volume-high icon-volume-on"></i>
											<i class="icon-volume-mute icon-volume-off"></i>
										</button>
										{% elseif (participant.talk == 'muted') %}
										<button class="btn btn-talk btn-success is-muted">
											<i class="icon-volume-high icon-volume-on"></i>
											<i class="icon-volume-mute icon-volume-off"></i>
										</button>
										{% elseif (participant.talk == 'no') %}
										{% endif %}
									</td>
									<td class="col-company">{{ participant.company }}</td>
									<td class="col-role">{{ participant.role }}</td>
									<td class="col-entry">{{ participant.entryTime }}</td>
									<td class="col-exit">{{ participant.exitTime }}</td>
									<td class="col-channel">
										{% if (participant.channel == 'all') %}
										<span class="btn"><i class="icon-call"></i></span>
										<span class="btn"><i class="icon-computer"></i></span>
										{% elseif (participant.channel == 'call') %}
										<span class="btn"><i class="icon-call"></i></span>
										{% endif %}
									</td>
									<td class="col-qa">
										{% if (participant.qa == 'yes') %}
										<span class="btn btn-qa"><i class="icon-hand"></i></span>
										{% else %}
										{% endif %}
									</td>
									<td class="col-notes">{{ participant.notes }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="chat-box is-minimized ir">
			<div class="chat-header chat-toggle">
				<div class="chat-count">
					<span class="notify-count">2</span>
					<i class="icon-message"></i>
				</div>
				<h5 class="text-primary">Operator Chat</h5>
				<i class="icon-maximize icon-status"></i>
				<i class="icon-minimize icon-status"></i>
			</div>
			<div class="chat-body">
				<ul class="chat-list" data-simplebar data-simplebar-auto-hide="false">
					<li class="participant">
						<span class="participant-avatar"><img src="./dist/images/1.jpg"></span>
						<p>Morning all, thanks for joining this meeting today. Can I have everyone raise their hand if they have a question. Thanks.</p>
						<div class="chat-footer"><strong class="participant-name">Jenny Smith</strong><span class="chat-time">12:41 PM</span></div>
					</li>
					<li class="participant self-chat">
						<span class="participant-avatar"><img src="./dist/images/3.jpg"></span>
						<p>Morning Jenny, Morning Channel</p>
						<p>Redback conference</p>
						<div class="chat-footer"><strong class="participant-name">Me</strong><span class="chat-time">12:50 PM</span></div>
					</li>
					<li class="participant chat-is-red is-away">
						<span class="participant-avatar"><img src="./dist/images/67.jpg"></span>
						<p>Ready to Conference Dude ?</p>
						<div class="chat-footer"><strong class="participant-name">Ronaldo Smith</strong><span class="chat-time">12:52 PM</span></div>
					</li>
					<li class="participant chat-is-gray is-offline">
						<span class="participant-avatar"><img src="./dist/images/90.jpg"></span>
						<p>Wait a minute, I just Upload brifing File, please download and read</p>
						<a href="#" class="file-attachment"><span class="attachment-icon"><i class="icon-file-pdf"></i></span> Download</a>
						<div class="chat-footer"><strong class="participant-name">Rafinha Alcantara</strong><span class="chat-time">12:59 PM</span></div>
					</li>
				</ul>
			</div>
			<div class="chat-compose">
				<input type="text" placeholder="Press enter to post" class="form-control">
				<a href="#" class="btn btn-attachment disabled"><i class="icon-attachment"></i></a>
				<a href="#" class="btn btn-send disabled"><i class="icon-send"></i></a>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade ir-modal" id="irModal" tabindex="-1" role="dialog" aria-labelledby="irModal" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">INVESTOR RELATIONS (IR) PLATFORM</h5>
		        <p><small>Powered by</small> REDBACK CONNECT</p>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <i class="material-icons">close</i>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>For Support Contact: +61 (02) 8014 5150 or Toll Free within Australia: 1 800 733 416</p>
		      </div>
		      <div class="modal-footer">
		        <a href=""><span>support</span>@redbackconnect.com.au</a>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- jquery -->

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

		<!-- popper for bootstrap -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
		<!-- popper for bootstrap -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<!-- bootstrap -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<!-- custom scroll -->
		<script src="dist/js/simplebar.js"></script>
		<script src="dist/js/moment.min.js"></script>
		<script src="dist/js/ez.countimer.min.js"></script>

		<!-- main js -->
		<script src="dist/js/main.min.js"></script>
		<script src="dist/js/ir-custom.js"></script>
		<script src="dist/js/timer.js"></script>
	</body>
</html>