<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c"> -->
		<title>Prelim Webcast</title>
		<link rel="stylesheet" type="text/css" href="dist/css/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<nav class="nav-menu">
          <div class="nav nav-tabs col4" id="nav-tab" role="tablist">
          	<div class="help"><a href="" data-toggle="modal" data-target=".ir-modal"><img src="./dist/images/help_outline-24px.png" alt=""></a></div>
            <a class="nav-item nav-link" id="nav-home-tab" href="index.html">IR Manager</a>
            <a class="nav-item nav-link active" id="nav-profile-tab" href="presentation.html">Presentation Manager</a>
          </div>
        </nav>
		{% set pageActive = "Video CLip Manager" %}
		<nav class="navbar navbar-expand fixed-top">
			{% set navGroup = [
				{navText: "Presentation Manager",
				iconColor: "bg-light-purple",
				navIcon: "presentation-manager",
				linkPage: "presentation.html"},
				
				{navText: "Video Clip Manager",
				iconColor: "bg-danger",
				navIcon: "video-manager",
				linkPage: "video-manager.html"},
				
				{navText: "Polling Manager",
				iconColor: "bg-purple",
				navIcon: "polling-manager",
				linkPage: "polling-manager.html"}, 
				
				{navText: "Survey Manager",
				iconColor: "",
				navIcon: "survey-manager",
				linkPage: "create-polling-question.html"}, 
				
				{navText: "Question Manager",
				iconColor: "",
				navIcon: "question-manager",
				linkPage: "question-manager.html"}, 
				
				{navText: "Remote Control",
				iconColor: "bg-light-green",
				navIcon: "remote-control",
				linkPage: "#"}, 
				
				{navText: "Resource Manager",
				iconColor: "bg-info",
				navIcon: "resource-manager",
				linkPage: "#"}, 
				
				{navText: "Public Chat",
				iconColor: "bg-warning",
				navIcon: "public-chat",
				linkPage: "#"},
				
				{navText: "eCurtain",
				iconColor: "bg-info",
				navIcon: "curtain",
				linkPage: "#"}
			] %}
				<div class="navbar-brand">
					<a class="" href="#"><img src="dist/images/redback-logo.png" alt="Redback"></a>
					<a href="" class="side-menu js-side"><i class="material-icons">arrow_back</i></a>
					<button class="navbar-btn js-menu" type="button" data-target="#navbar-menu" >
						<span class="content-header-icon"><i class="icon-presentation-list"></i></span>
					</button>
					<!-- mobile button -->
					<a href="#" class="js-LeftMenu"><i class="icon-presentation-list"></i></a>
					<a href="#" class="js-RightMenu"><i class="material-icons">playlist_play</i></a>
				</div>
			<div class="collapse navbar-collapse js-mobile-menu-right" id="navbar-menu">
				<ul class="navbar-nav">
					{% for item in navGroup %}
					<li class="navbar-item {%if pageActive == item.navText%}active{%endif%}">
						<a href="{{item.linkPage}}" class="nav-link">
							<span class="nav-icon {{item.iconColor}}"><i class="icon-{{item.navIcon}}"></i></span>
							<span class="nav-text">{{item.navText}}</span>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</nav>
		
		<!-- sidebar area -->
		<div class="sidebar-area js-mobile-menu">
			<div class="video-call">
				<div class="status-live live">
					<p>Status: <span>Live Now</span></p>
				</div>
				<img src="dist/images/vid.png" alt="vid">
			</div>
			<div class="moderator-menu">
				<ul>
					<li class="dropdown">
						<span class="moderator-pict">
							<img src="dist/images/32.jpg" alt="moderator">
						</span>
						<p>
							<span class="moderator-name">Dwi Wibowo</span>
							<span >Moderator<span>
						</p>
						<a href="" class="op-menu dropdown-toggle js-dropdown" type="button" data-toggle="dropdown"><i class="material-icons">settings</i></a>
						<ul class="dropdown-menu dropdown-menu-right">
					      <li>
					      	<a href="#"><i class="material-icons">play_arrow</i> Start/Stop Recording</a>
					      </li>
					      <li><a href="#"><i class="material-icons">lock</i> Lock/Unlock Meeting</a></li>
					      <li><a href="#"><i class="material-icons">volume_up</i> Mute All Participants</a></li>
					      <li><a href="#"><i class="material-icons">slideshow</i> Enable Presentation Mode/Voice Activated</a></li>
					      <li><a href="#"><i class="material-icons">voice_chat</i> Enable Lecture Mode – Select Active Speaker</a></li>
					      <li><a href="#"><i class="material-icons">settings_input_component</i>Disconnect All Participants</a></li>
					      <li class="dropdown-submenu">
					      	<a href="#" class="submenu-toggle dropdown-toggle"><i class="material-icons">web</i>Change Meeting Layout</a>
							<ul class="dropdown-menu dropdown-menu-right">
						      	<li>
						      		<a href=""><img src="dist/images/full-width.png" alt="layout"> Full Screen</a>
						      		<a href=""><img src="dist/images/side-by-side.png" alt="layout"> Side by side</a>
						      		<a href=""><img src="dist/images/3-part.png" alt="layout"> 3 Participants</a>
						      		<a href=""><img src="dist/images/4-part.png" alt="layout"> 4 Participants</a>
						      		<a href=""><img src="dist/images/5-part.png" alt="layout"> 5 Participants</a>
						      		<a href=""><img src="dist/images/6-part.png" alt="layout"> 6 Participants</a>
						      		<a href=""><img src="dist/images/8-part.png" alt="layout"> 8 Participants</a>
						      		<a href=""><img src="dist/images/9-part.png" alt="layout"> 9 Participants</a>
						      		<a href=""><img src="dist/images/10-part.png" alt="layout"> 10 Participants</a>
						      		<a href=""><img src="dist/images/13-part.png" alt="layout"> 13 Participants</a>
						      		<a href=""><img src="dist/images/16-part.png" alt="layout"> 16 Participants</a>
						      		<a href=""><img src="dist/images/20-part.png" alt="layout"> 20 Participants</a>
						      	</li>
						    </ul>
					      </li>
					    </ul>
					</li>
				</ul>
			</div>
			<div id="accordion">
				<div class="card ">
				    <div class="" id="headingOne">
				        <div class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				            <div class="title-content">
								<h3>Participant <span class="label">20</span></h3>
								<span><img src="dist/images/ic_user.png" alt="participant"></span>
							</div>
				        </div>
				    </div>

				    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="side-content participant">
				        <div class="participant-list" data-simplebar data-simplebar-auto-hide="true">
							{% set moderator = [
								{name:"John Travolta",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Mike Lewis",
								avatar: "32",
								desc: "Demo Tech (Disconected)"},
								{name:"John Travolta",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Mike Lewis",
								avatar: "32",
								desc: "Demo Tech (Disconected)"},
								{name:"John Travolta",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Mike Lewis",
								avatar: "32",
								desc: "Demo Tech (Disconected)"}
								] %}
								{% for user in moderator %}
								<div class="profile-item profile-box">
									<div class="profile-avatar">
										<img src="dist/images/{{user.avatar}}.jpg" alt="{{user.name}}">
									</div>
									<div class="profile-name">
										<h4 class="profile-title">{{user.name}}</h4>
										<span class="profile-description">{{user.desc}}</span>
									</div>
								</div>
							{% endfor %}
						</div>
				      </div>
				    </div>
				</div>
			  	<div class="card">
				    <div class="" id="headingTwo">
				        <div class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				           <div class="title-content">
								<h3>Operator Chat <span class="label">6</span></h3>
								<span class="icon-public-chat"></span>
							</div>
				        </div>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				      <div class="side-content chat">
				        <!-- chatbox -->
						<div class="chat-box relative">
							<div class="chat-body" data-simplebar data-simplebar-auto-hide="true">
								<ul class="chat-list data-simplebar data-simplebar-auto-hide="true"">
									<li class="participant">
										<span class="participant-avatar"><img src="dist/images/1.jpg"></span>
										<p>Morning all, thanks for joining this meeting today. Can I have everyone raise their hand if they have a question. Thanks.</p>
										<div class="chat-footer"><strong class="participant-name">Jenny Smith</strong><span class="chat-time">12:41 PM</span></div>
									</li>
									<li class="participant self-chat">
										<span class="participant-avatar"><img src="dist/images/3.jpg"></span>
										<p>Morning Jenny, Morning Channel</p>
										<p>Redback conference</p>
										<div class="chat-footer"><strong class="participant-name">Me</strong><span class="chat-time">12:50 PM</span></div>
									</li>
									<li class="participant chat-is-red is-away">
										<span class="participant-avatar"><img src="dist/images/67.jpg"></span>
										<p>Ready to Conference Dude ?</p>
										<div class="chat-footer"><strong class="participant-name">Ronaldo Smith</strong><span class="chat-time">12:52 PM</span></div>
									</li>
									<li class="participant chat-is-gray is-offline">
										<span class="participant-avatar"><img src="dist/images/90.jpg"></span>
										<p>Wait a minute, I just Upload brifing File, please download and read</p>
										<a href="#" class="file-attachment"><span class="attachment-icon"><i class="icon-file-pdf"></i></span> Download</a>
										<div class="chat-footer"><strong class="participant-name">Rafinha Alcantara</strong><span class="chat-time">12:59 PM</span></div>
									</li>
								</ul>
							</div>
							<div class="chat-compose">
								<input type="text" placeholder="Press enter to post" class="form-control">
								<a href="#" class="btn btn-attachment disabled"><i class="icon-attachment"></i></a>
								<a href="#" class="btn btn-send disabled"><i class="icon-send"></i></a>
							</div>
						</div>
				      </div>
				    </div>
			  	</div>
			</div>
		</div>
		<!-- content area -->
		<div class="content-area">
			<div class="row column-content-group">
				<div class="col-12 is-presentation-list">
					<div class="content-group">
						<div class="content-header">
							<h3>PREVIEW VIDEO<small class="dark">Make Sales Now.mp4</small></h3>
							<span class="content-header-icon"><i class="material-icons">view_headline</i></span>
						</div>
						<div class="embed-video">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FPM-_PSv95k?rel=0&amp;autoplay=1"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade ir-modal" id="irModal" tabindex="-1" role="dialog" aria-labelledby="irModal" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">INVESTOR RELATIONS (IR) PLATFORM</h5>
		        <p><small>Powered by</small> REDBACK CONNECT</p>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <i class="material-icons">close</i>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>For Support Contact: +61 (02) 8014 5150 or Toll Free within Australia: 1 800 733 416</p>
		      </div>
		      <div class="modal-footer">
		        <a href=""><span>support</span>@redbackconnect.com.au</a>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- jquery -->
		
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script> 
		
		<!-- popper for bootstrap -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		
		<!-- bootstrap -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		
		<!-- custom scroll -->
		<script src="dist/js/simplebar.js"></script>
		<script src="dist/js/moment.min.js"></script>
		<script src="dist/js/ez.countimer.min.js"></script>
		
		<!-- main js -->
		<script src="dist/js/main.min.js"></script>
	</body>
	</body>
</html>