.ir-modal
	.modal-dialog
		.modal-content
			border-radius: 0
			border: none
		.modal-header
			padding: 30px 0
			display: block
			border-radius: 0
			background: #62cbf0; /* Old browsers */
			background: -moz-linear-gradient(left,  #62cbf0 0%, #244bbc 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  #62cbf0 0%,#244bbc 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  #62cbf0 0%,#244bbc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			text-align: center
			h5
				color: $white
				font-size: 16px
				display: block
			p
				color: $white
				font-size: 16px
				display: block
				margin-bottom: 0
				font-weight: 500
				small
					font-weight: 300
			.close
				position: absolute
				top: 10px
				right: 10px
				color: $white
				opacity: 1
				box-shadow: none
				i
					font-size: 16px
		.modal-body
			text-align: center
			padding: 40px 110px
			p
				font-weight: 500
		.modal-footer
			display: block
			text-align: center
			padding: 40px 0
			a
				font-weight: 500
				span
					color: $black
