$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../dist/fonts" !default;

$icon-chevron-left: "\e90f";
$icon-chevron-right: "\e910";
$icon-curtain: "\e911";
$icon-delete: "\e912";
$icon-download: "\e913";
$icon-info: "\e914";
$icon-play: "\e915";
$icon-polling-manager: "\e916";
$icon-presentation-list: "\e917";
$icon-presentation-manager: "\e918";
$icon-public-chat: "\e919";
$icon-question-manager: "\e91a";
$icon-remote-control: "\e91b";
$icon-resource-manager: "\e91c";
$icon-survey-manager: "\e91d";
$icon-upload: "\e91e";
$icon-video-manager: "\e91f";
$icon-visibility: "\e920";
$icon-arrow-down: "\e900";
$icon-attachment: "\e901";
$icon-call: "\e902";
$icon-computer: "\e903";
$icon-file-pdf: "\e904";
$icon-hand: "\e905";
$icon-maximize: "\e906";
$icon-message: "\e907";
$icon-minimize: "\e908";
$icon-send: "\e909";
$icon-shortby: "\e90a";
$icon-volume-high: "\e90b";
$icon-volume-mute: "\e90c";
$icon-microphone: "\e90d";
$icon-tower-transmissions: "\e90e";

